.slide-title,
.slide-title .light h1 {
  /*color: #a9c0b7;*/
  color: #324C66;
}
.banner-text.light {
  border-top: medium double #E2B1A7;
  border-bottom: medium double #E2B1A7;
}

#invited {
  margin-top: 100px;
}

#nav-bar.nav-center .logo-wrapper {
  top: -40px;
}
#nav-bar.nav-center #nav-menu {
  padding-top: 85px;
}

section#our-story {
  padding: 60px 0;
}

#map-canvas {
  height: 630px;
}

a.hotel-link {
  color: #F0394D;
  font-weight: bold;
}
